@using System.Globalization
@using DMS.Models
<div class="top-cart-holder dropdown animate-dropdown">

                            <div class="basket">

                                <a @*class="dropdown-toggle" data-toggle="dropdown"*@ href="@Url.Action("ShowCart","ShoppingCart")">


                                    @if (Session["Cart"] != null)
                                    {
                                        int quantity = 0;
                                        double totalPrice = 0;
                                        var cartSession = (List<Cart>)Session["Cart"];
                                        var drugstoreTypeID = int.Parse(Session["DrugStoreTypeID"].ToString());
                                        for (int i = 0; i < cartSession.Count; i++)
                                        {
                                            var price = 0.0;
                                            quantity = cartSession[i].Quantity + quantity;
                                            if (cartSession[i].Price != null)
                                            {
                                                price = cartSession[i].Price.UnitPrice;
                                            }
                                            var actualValue = (100 - double.Parse(cartSession[i].Drug.DiscountRates.Where(b => b.DrugstoreTypeID == drugstoreTypeID).Select(d => d.Discount).SingleOrDefault().ToString())) / 100;
                                            totalPrice = (double)(cartSession[i].Quantity * price * actualValue + totalPrice);
                                        }
                                        <div class="basket-item-count">
                                            <span class="count">@quantity</span>
                                            <img src="~/assets/images/icon-cart.png" alt="" />
                                        </div>
                                        <div class="total-price-basket">
                                            <span class="lbl">giỏ hàng:</span>
                                            <span class="total-price">
                                                <span class="value">@String.Format("{0:0,0}", @totalPrice)</span> <span class="sign">VND</span>
                                            </span>
                                        </div>
                                    }
                                    else if (Session["Cart"] == null)
                                    {
                                        <div class="basket-item-count">
                                            <span class="count">0</span>
                                            <img src="~/assets/images/icon-cart.png" alt="" />
                                        </div>
                                        <div class="total-price-basket">
                                            <span class="lbl">giỏ hàng:</span>
                                            <span class="total-price">
                                                <span class="value">0</span> <span class="sign">VND</span>
                                            </span>
                                        </div>
                                    }

                                </a>

                               @* <ul class="dropdown-menu">
                                        @if (Session["Cart"] != null)
                                        {
                                            var cartSession = (List<Cart>)Session["Cart"];
                                            foreach (var cart in cartSession)
                                            {
                                                   <li>
                                                <div class="basket-item">
                                                    <div class="row">
                                                        <div class="col-xs-4 col-sm-4 no-margin text-center">
                                                            <div class="thumb">
                                                                <img alt="" src="assets/images/products/product-small-01.jpg" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-8 col-sm-8 no-margin">
                                                            <div class="title">@cart.Drug.DrugName</div>
                                                        </div>
                                                    </div>
                                                    <a class="close-btn" href="#"></a>
                                                </div>
                                            </li>
  
                                            }
                                         
                                        }
                                    <li class="checkout">
                                        <div class="basket-item">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <a href="@Url.Action("ShowCart", "ShoppingCart")" class="le-button inverse">View cart</a>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <a href="@Url.Action("CheckOut","Order")" class="le-button">Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>*@
                            </div>
                            <!-- /.basket -->
                        </div>