@model IEnumerable<DMS.DAL.Account>
<script src="~/Content/js/myModal.js"></script>
<div class="panel-body">
    <p>
        @*        <a href="@Url.Action("CreateStaff", "Admin")" class="btn btn-primary">Thêm nhân viên mới</a>*@
        @*        @Html.ActionLink("Create New", "AddDrugstore")*@
        <a data-toggle="modal" id="" data-target="#myModal" class="btn btn-primary btn-large" onclick="CreateStaffAccount()">Tạo mới tài khoản nhân viên</a>
    </p>
    <div class="table-responsive">
        <table class="table display KeyTable dataTable" id="TableStaff" aria-describedby="example_info">
            <thead>
                <tr>
                    <th>Tài khoản    </th>
                    <th>Tên nhân viên    </th>
                    <th>Địa chỉ     </th>
                    <th>Số điện thoại      </th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountProfile.FullName)
                        </td>
                          <td>
                            @Html.DisplayFor(modelItem => item.AccountProfile.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountProfile.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountProfile.Email)
                        </td>
                        <td>
                            @* @if(item.IsActive==true){
                                @Html.ActionLink("Khoá", "Block", new { id = item.AccountID })
                            } else{
                                @Html.ActionLink("Mở khoá", "Unblock", new { id = item.AccountID})
                            }*@

                            <div id="abc_@item.AccountID">
                                @if (item.IsActive == true)
                                {
                                    <input style="width:100px"class="@item.AccountID btn btn-danger" type="button" value="Khoá" onclick="blockstaff(this)"/>
                                }
                                else
                                {
                                    <input style="width:100px" class="@item.AccountID btn btn-primary" type="button" value="Mở Khoá" onclick="unblockstaff(this)"/>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thông tin tài khoản mới</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="modal">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //var table = $('#TableStaff').DataTable();
        //new $.fn.dataTable.KeyTable(table);


        $('#TableStaff').dataTable({
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sLengthMenu": "Hiển thị _MENU_ nhân viên quản lí",
                "sInfoEmpty": "Không có dữ liệu",
                "sZeroRecords": "Không có dữ liệu",
                "sEmptyTable": "Không có dữ liệu",
                "sInfo": "Hiển thị _START_ đến _END_ trên _TOTAL_ nhân viên",
                "oPaginate": {
                    "sNext": "Trang sau",
                    "sPrevious": "Trang trước"
                }

            }
        });
    });

    function blockstaff(a) {
        var id = a.getAttribute('class');

        var idGet = id.split(" ")[0];
        $.ajax({
            url: '/Admin/Block',
            method: 'POST',
            data: { 'id': idGet },
            success: function (result) {
                var name = 'abc_' + idGet;
                document.getElementById(name).innerHTML = "<input class='" + idGet + " btn btn-primary' style='width:100px' type='button' value='Mở Khoá' onclick='unblockstaff(this)'/>"
            }
        });
    }

    function unblockstaff(a) {
        var id = a.getAttribute('class');
        var idGet = id.split(" ")[0];
        $.ajax({
            url: '/Admin/Unblock',
            method: 'POST',
            data: { 'id': idGet },
            success: function (result) {
                var name = 'abc_' + idGet;
                document.getElementById(name).innerHTML = "<input class='" + idGet + " btn btn-danger'  style='width:100px' type='button' value='Khoá' onclick='blockstaff(this)'/>"
            }
        });
    }

    function CreateStaffAccount() {
        $.ajax({
            url: "/Admin/CreateStaff",
            type: "Get",
            success: function (result) {
                $("#modal").html(result);
            }
        });
    }

</script>

<style type="text/css">
    .bodyFix {
        height: 100%;
        overflow: scroll;
    }

    .modal-title {
        font-weight: bolder;
    }
</style>
