@{
    ViewBag.Title = "List";
    Layout = "~/Views/Staff/_LayoutStaff.cshtml";
}
@model IEnumerable<DMS.DAL.DeliverySchedule>
@using DMS.DAL
@using DMS.Models
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Danh sách đơn giao hàng
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("CreateSchedule", "DeliverySchedule")" class="btn btn-primary">Tạo mới</a>
                </p>
                <div>
                    <table class="display" id="TableDrug">
                        <thead>
                            <tr>
                                <th>Mã số</th>
                                <th>Người giao hàng</th>
                                <th>Ngày tạo đơn</th>
                                @*<th>Hạn giao</th>*@
                                <th>Tình trạng</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="@item.DeliveryScheduleID">
                                    <td><a href="@Url.Action("ScheduleDetail","DeliverySchedule",new{scheduleID=@item.DeliveryScheduleID})">@item.DeliveryScheduleID</a></td>
                                    <td>@item.DeliveryMan.FullName</td>
                                    <td>@item.CreateDate</td>
                                    @*<td>@item.DueDate</td>*@
                                    <td id="status-@item.DeliveryScheduleID">@if (item.Status == 3)
                                                                             {
                                        <p style="font-weight:bold;color:green">Chưa hoàn thành</p> 
                                                                             }
                                                                             else if (item.Status == 4)
                                                                             {
                                        <p style="font-weight:bold;color:blue">Đã hoàn thành</p>
                                                                             }
                                    </td>
                                    <td id="link-group-@item.DeliveryScheduleID">
                                        @if (item.Status == 3)
                                        {
                                            <p>
                                                <a class="btn btn-primary" id="update-status" data-id="@item.DeliveryScheduleID">Hoàn thành</a>
                                                <a class="btn btn-danger" id="delete" data-id="@item.DeliveryScheduleID">Xóa</a>
                                            </p>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-success" href="@Url.Action("PrintScheduleDetail", "DeliverySchedule", new { scheduleID= @item.DeliveryScheduleID})" >In đơn giao hàng</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //var table = $('#TableDrug').DataTable();
        //new $.fn.dataTable.KeyTable(table);

        var table=$('#TableDrug').dataTable({
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sLengthMenu": "Hiển thị _MENU_ lịch giao hàng",
                "sInfoEmpty": "Không có dữ liệu",
                "sZeroRecords": "Không có dữ liệu",
                "sEmptyTable": "Không có dữ liệu",
                "sInfo": "Hiển thị _START_ đến _END_ trên _TOTAL_ lịch giao hàng",
                "oPaginate": {
                    "sNext": "Trang sau",
                    "sPrevious": "Trang trước"
                }
            }, "order": [[0, "desc"]]
        });
    });
    $(document).on("click", "#update-status", function () {
        var recordToUpdate = $(this).attr("data-id");
        $.ajax({
            url: '/DeliverySchedule/UpdateStatus',
            method: 'POST',
            data: { "deliveryScheduleID": recordToUpdate, }
        }).done(function (data) {
            $("#status-" + recordToUpdate).text("Đã hoàn thành");
            $("#link-group-" + recordToUpdate).replaceWith("<td></td>");
        }).fail(function (xhr) {
            alert("TEST");
        });
    });
    $(document).on("click", "#delete", function () {
        var recordToUpdate = $(this).attr("data-id");
        $.ajax({
            url: '/DeliverySchedule/DeleteSchedule',
            method: 'POST',
            data: { "deliveryScheduleID": recordToUpdate, }
        }).done(function (data) {
            $("#" + recordToUpdate).remove();
        }).fail(function (xhr) {
            alert("TEST");
        });
    });
</script>
