@model IEnumerable<DMS.DAL.Drugstore>

@{
    ViewBag.Title = "Danh sách nhà thuốc chưa xác nhận";
    Layout = "~/Views/Staff/_LayoutStaff.cshtml";
}

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table display KeyTable dataTable" id="TableDrugstore" aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th> Tên nhà thuốc     </th>
                                <th>Địa chỉ      </th>
                                @*<th>Người tiếp thị       </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DrugstoreName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
@*                                    <td>
                                        @{
                                var id = item.SalesmanID;
                                var name = Model.Where()
                                            }
                                        @Html.DisplayFor(modelItem=> item.SalesmanID)
                                    </td>*@
                                    <td>
                                        <a href="@Url.Action("ApprovedDrugstore", "Staff", new { id= item.DrugstoreID})" class="btn btn-primary">Xác nhận</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#TableDrugstore').DataTable();
        new $.fn.dataTable.KeyTable(table);
    });
</script>
